/* Ensure HTML and Body take the full height */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Set the full-screen background */
body {
    background-image: url('../images/backgr_log_in.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
}

/* Logo styling */
.logo {
    width: 300px;
    margin-bottom: -30px;
}

/*login container*/
.login-box {
    width: 300px;
    height: 400px; 
    padding: 30px 20px;
    border-radius: 24px 0px 0px 0px;
    background-image: url('../images/log_in_box_red.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;


}


/* submit button*/
.login-box input[type="submit"] {
 
    width: 78%;
    padding: 10px;
    background-color: transparent;
    color: black;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-top: 44%;
    transition: background-color 0.3s ease;
}


/* Hover effect for submit button */
.login-box input[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Input field styling */
.login-box input[type="text"], .login-box input[type="password"] {
    width: 210px; 
    height: 20px;
    padding: 10px;
    margin: 8px 0px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.0em;
    margin-top: 115px; 
    margin-bottom: -89px;
}

/* Placeholder for login status */
#login-status {
    color: red;
    margin-top: 10px;
    font-size: 0.9em;
}